.twitterbotlink-container {
    background-color: #0A0A0A; 
    color: #F5F5F5; 
    padding: 40px;
}

.twitterbotlink-header {
    font-size: 2.5rem;
    color: #FF1D76; 
    font-weight: bold;
}

.twitterbotlink-content {
    font-size: 1.25rem;
    color: #F5F5F5; 
}

  /* Submit button styling */
  .submit-button {
    background-color: rgb(246, 0, 119);
    color: white;
    font-size: 18px;
    padding: 12px 24px;
    margin-top: 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #e4c144; /* Gold */
  }

  .text-box {
    width: 95%; 
    min-height: 150px;
    padding: 15px;
    border: 2px solid #ff4081;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 20px; 
    font-family: 'Roboto', sans-serif;
    resize: none;
  }
  
  .text-box::placeholder {
    color: #888;
    font-style: italic;
  }
  