@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Poppins', sans-serif;  /* I would like the Poppins font globally! */
  background-color: #f4f4f4;
}


/* Container for the whole page */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  text-align: center;
  padding-top: 80px;
}

/* Container for the top section: Logo and Nav */
.top-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color:rgb(253, 218, 241);
  border-bottom: 5px solid rgba(0, 0, 0, 0.1);  /* Slight border */
}


/* Navigation bar styling (right side) */
nav {
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color:  #e4c144; /* Gold */
  font-size: 18px;
}

nav a:hover {
  text-decoration: underline;
}

/* Content area */
.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  padding-top: 100px;
}

h1 {
  font-size: 3rem;
}

button {
  font-size: 1.2rem;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
}



/* Media query for mobile view */
@media (max-width: 768px) {
  .top-container {
    flex-direction: column;
    align-items: center;
  }

  nav {
    margin-top: 10px;
  }

  nav a {
    font-size: 16px;
  }

  .logo {
    font-size: 1.2rem;
  }

  .App-header {
    padding-top: 120px;
  }
}

.logo-container {
  margin-right: auto;
}

.logo {
  width: 200px;
  height: auto;
}

nav {
  display: flex;
  gap: 100px;
}

/* App.css */

/* Container padding for pages to prevent overlap with fixed navbar */
.page-content {
  padding: 80px; /* Adjust this value to match your navbar height */
}

/* Media query for mobile */
@media (max-width: 768px) {
  .page-content {
    padding-top: 100px; /* Increase padding for smaller screens */
  }
}
